tests
Dockerfile
*.pyc
*.pyo
*.pyd
__pycache__
.vscode
.venv
.github
build
bin
dist
*.egg-info
nxc/data/powersploit/Recon/Dictionaries
nxc/data/powersploit/Exfiltration/NTFSParser
nxc/data/powersploit/CodeExecution/Invoke-ReflectivePEInjection_Resources
nxc/data/powersploit/Exfiltration/LogonUser
nxc/data/powersploit/Tests
nxc/data/netripper/DLL
nxc/data/netripper/Metasploit
nxc/data/netripper/NetRipper
nxc/data/netripper/Win32
nxc/data/netripper/Release
nxc/data/netripper/minhook
nxc/data/netripper/x64
nxc/data/netripper/*.pdf
nxc/data/netripper/*.sln
nxc/data/invoke-vnc/winvnc
nxc/data/invoke-vnc/vncdll
nxc/data/invoke-vnc/pebytes.ps1
nxc/data/invoke-vnc/ReflectiveDLLInjection
nxc/data/invoke-vnc/*.py
nxc/data/invoke-vnc/*.bat
nxc/data/invoke-vnc/*.msbuild
nxc/data/invoke-vnc/*.sln
nxc/data/RID-Hijacking/modules
nxc/data/RID-Hijacking/slides